# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# MAKE SURE TO WRITE YOUR USER AND PASSWORD ON DATABASE_URL
DATABASE_URL=

# Minio
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=

# BetterAuth
BETTER_AUTH_SECRET=

# Redis
REDIS_URL=
REDIS_ACCESS_KEY=